<div class="card">
  <div class="card-header">
    <div class="form-inline">
      <span class="d-inline-block" tabindex="0" [title]="uploadFileTitle">
        <button class="btn btn-sm btn-primary" (click)="startFileUpload()" [disabled]="!canUploadFile"><i
            class="fas fa-upload"></i></button>
      </span>
      <input type="file" id="inputFile" (change)="uploadFile($event.target)">
      <button class="btn btn-sm btn-primary" title="Save device data" (click)="downloadFile()"><i
          class="fas fa-download"></i></button>
    </div>
  </div>
  <div class="card-body">
    <div class="row device-data">
      <div *ngFor="let ioWord of ioWords; let i = index" class="col-md-6 col-lg-4 col-xl-3">
        <table>
          <tr>
            <td class="index">{{i}}:</td>
            <td class="sign">{{ioWord.negative ? "-" : "+"}}</td>
            <td class="byte">{{ioWord.bytes[0]}}</td>
            <td class="byte">{{ioWord.bytes[1]}}</td>
            <td class="byte">{{ioWord.bytes[2]}}</td>
            <td class="byte">{{ioWord.bytes[3]}}</td>
            <td class="byte">{{ioWord.bytes[4]}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
