<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img alt="MIX Emulator" src="assets/brand.png" height="20">
        </a>
        <button class="navbar-toggler" type="button" aria-controls="collapseBasic"
            [attr.aria-expanded]="!navbarIsCollapsed" aria-label="Toggle navigation"
            (click)="navbarIsCollapsed = !navbarIsCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [collapse]="navbarIsCollapsed">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="router.url === '/about'" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="router.url === '/editor'" routerLink="/editor">Program
                        editor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="router.url === '/vm'" routerLink="/vm">Virtual machine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="router.url === '/devices'" routerLink="/devices">Devices</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
