<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-3 col-xl-2">
      <div class="list-group">
        @for (deviceNumber of deviceNumbers; track deviceNumber) {
          <a href="javascript:void(0)" class="list-group-item"
            [class.active]="selectedDevice === deviceNumber" (click)="selectedDevice = deviceNumber">
            {{deviceDescription(deviceNumber)}}
          </a>
        }
      </div>
    </div>
    <div class="col-md-8 col-lg-9 col-xl-10">
      @if (selectedDevice === 0) {
        <mix-block-io-device [deviceNum]="0"></mix-block-io-device>
      }
      @if (selectedDevice === 1) {
        <mix-block-io-device [deviceNum]="1"></mix-block-io-device>
      }
      @if (selectedDevice === 2) {
        <mix-block-io-device [deviceNum]="2"></mix-block-io-device>
      }
      @if (selectedDevice === 3) {
        <mix-block-io-device [deviceNum]="3"></mix-block-io-device>
      }
      @if (selectedDevice === 4) {
        <mix-block-io-device [deviceNum]="4"></mix-block-io-device>
      }
      @if (selectedDevice === 5) {
        <mix-block-io-device [deviceNum]="5"></mix-block-io-device>
      }
      @if (selectedDevice === 6) {
        <mix-block-io-device [deviceNum]="6"></mix-block-io-device>
      }
      @if (selectedDevice === 7) {
        <mix-block-io-device [deviceNum]="7"></mix-block-io-device>
      }
      @if (selectedDevice === 8) {
        <mix-block-io-device [deviceNum]="8"></mix-block-io-device>
      }
      @if (selectedDevice === 9) {
        <mix-block-io-device [deviceNum]="9"></mix-block-io-device>
      }
      @if (selectedDevice === 10) {
        <mix-block-io-device [deviceNum]="10"></mix-block-io-device>
      }
      @if (selectedDevice === 11) {
        <mix-block-io-device [deviceNum]="11"></mix-block-io-device>
      }
      @if (selectedDevice === 12) {
        <mix-block-io-device [deviceNum]="12"></mix-block-io-device>
      }
      @if (selectedDevice === 13) {
        <mix-block-io-device [deviceNum]="13"></mix-block-io-device>
      }
      @if (selectedDevice === 14) {
        <mix-block-io-device [deviceNum]="14"></mix-block-io-device>
      }
      @if (selectedDevice === 15) {
        <mix-block-io-device [deviceNum]="15"></mix-block-io-device>
      }
      @if (selectedDevice === 16) {
        <mix-line-input-device [deviceNum]="16"
        [hasGoButton]="true"></mix-line-input-device>
      }
      @if (selectedDevice === 17) {
        <mix-line-output-device [deviceNum]="17"></mix-line-output-device>
      }
      @if (selectedDevice === 18) {
        <mix-line-output-device [deviceNum]="18"></mix-line-output-device>
      }
      @if (selectedDevice === 20) {
        <mix-line-input-device [deviceNum]="20"></mix-line-input-device>
      }
    </div>
  </div>
</div>
