<div class="container">
  <div class="row control-row">
    <div class="col-sm-8">
      <div class="btn-group" role="group" aria-label="Virtual machine mode">
        <button type="button" class="btn btn-sm" title="Binary mode"
          [ngClass]="{'btn-success': mode === 'binary', 'btn-outline-secondary': mode !== 'binary'}"
          (click)="mode = 'binary'">x<sub>2</sub>
        </button>
        <button type="button" class="btn btn-sm" title="Decimal mode"
          [ngClass]="{'btn-success': mode === 'decimal', 'btn-outline-secondary': mode !== 'decimal'}"
          (click)="mode = 'decimal'">x<sub>10</sub>
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="Tracking mode">
        <button type="button" class="btn btn-sm" title="With tracking"
          [ngClass]="{'btn-success': tracking, 'btn-outline-secondary': !tracking}" (click)="tracking = true"><fa-icon
            [icon]="faHistory"></fa-icon>
        </button>
        <button type="button" class="btn btn-sm" title="Without tracking"
          [ngClass]="{'btn-success': !tracking, 'btn-outline-secondary': tracking}" (click)="tracking = false"><fa-icon
            [icon]="faLongArrowAltRight"></fa-icon>
        </button>
      </div>
      <button class="btn btn-sm btn-primary" title="Assemble" (click)="assemble()"><fa-icon
          [icon]="faPuzzlePiece"></fa-icon>
      </button>
      <button *ngIf="isActive" class="btn btn-sm btn-danger" title="Switch off" (click)="switchOff()"><fa-icon
          [icon]="faPowerOff"></fa-icon></button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-sm btn-info" (click)="runBack()" [disabled]="!canMoveBack"><fa-icon
          [icon]="faFastBackward"></fa-icon></button>
      <button class="btn btn-sm btn-info" (click)="stepBack()" [disabled]="!canMoveBack"><fa-icon
          [icon]="faStepBackward"></fa-icon></button>
      <button class="btn btn-sm btn-primary" (click)="stepForward()" [disabled]="!canMoveForward"><fa-icon
          [icon]="faStepForward"></fa-icon></button>
      <button class="btn btn-sm btn-primary" (click)="runForward()" [disabled]="!canMoveForward"><fa-icon
          [icon]="faFastForward"></fa-icon></button>
    </div>
  </div>
  <div *ngIf="isActive" class="row view-row">
    <div class="col-sm-6 registers">
      <mix-registers></mix-registers>
    </div>
    <div class="col-sm-6 memory-data">
      <mix-memory-data></mix-memory-data>
    </div>
  </div>
  <div *ngIf="isActive" class="row code-row">
    <div class="col-12 memory-text">
      <mix-memory-text></mix-memory-text>
    </div>
  </div>
</div>
