<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>
                MIX Emulator is a web-based emulator of <a href="https://en.wikipedia.org/wiki/MIX">MIX</a>, the
                mythical computer invented by Donald Knuth for his book series <a
                    href="http://www-cs-faculty.stanford.edu/~knuth/taocp.html">&quot;The Art of Computer Programming&quot;</a>.
                The emulator supports assembling and executing programs for MIX, inspecting memory and register
                contents, working with (virtual) peripheral devices, traversing execution flow in both forward and
                backward direction, and checking correct synchronisation of input/output operations. Programs may be
                executed in either the binary or the decimal mode (which differ in the byte size).
            </p>
            <p>
                MIX opportunities that are not supported currently include the &quot;Go&quot; button, floating-point
                operations and other extensions.
            </p>
            <p>
                In order to use the emulator, enter the program text on the &quot;Program editor&quot; tab, then switch
                to the &quot;Virtual machine&quot; tab, choose the desired mode of operation and assemble the program.
                After that, you will be able to execute the program either step by step or until the end/next breakpoint
                is reached. Breakpoints may be set by double-clicking a program line on the &quot;Virtual machine&quot;
                tab (not in the editor currently). If you select the tracking mode, you can also move backwards in the
                execution flow. The &quot;Devices&quot; tab allows inspecting device data, downloading them as files or
                uploading files for using as input data. The device data are kept in the browser local storage.
            </p>
            <p>
                The source code of the emulator is available on <a
                    href="https://github.com/linnando/MIXEmulator">GitHub</a>. If you have found a bug, please submit an
                issue <a href="https://github.com/linnando/MIXEmulator/issues">here</a>.
            </p>
        </div>
    </div>
</div>
