<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>
                MIX Emulator is a web-based emulator of <a href="https://en.wikipedia.org/wiki/MIX">MIX</a>, the
                mythical computer invented by Donald Knuth for his book series <a
                    href="http://www-cs-faculty.stanford.edu/~knuth/taocp.html">&quot;The Art of Computer Programming&quot;</a>.
                The emulator supports assembling and executing programs for MIX, inspecting memory and register
                contents, traversing execution flow in both forward and backward direction. Programs may be executed in
                either the binary or the decimal mode (which differ in the byte size).
            </p>
            <p>
                MIX opportunities that are not supported currently include the &quot;Go&quot; button, floating-point
                operations and other extensions. Development of a user interface for emulating peripheral devices is in
                progress (currently they are supported at the virtual machine level only).
            </p>
            <p>
                The source code of the emulator is available on <a
                    href="https://github.com/linnando/MIXEmulator">GitHub</a>.
            </p>
        </div>
    </div>
</div>
