<div class="card">
    <div class="card-header">
        <div *ngIf="canUploadFile" class="form-inline">
            <div class="form-group">
                <label for="inputFile">Load device data from a file: </label>
                <input type="file" id="inputFile" (change)="onFileChange($event.target.files)"
                       placeholder="Upload file">
            </div>
            <button class="btn btn-primary" [disabled]="fileIsNotChosen" (click)="loadFile()">Load</button>
            <button class="btn btn-primary" (click)="saveFile()">Save as file</button>
        </div>
        <div *ngIf="!canUploadFile">
            In order to load device data from a file, please switch off the virtual machine.
            <button class="btn btn-primary" (click)="saveFile()">Save as file</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row device-data">
            <div *ngFor="let index of indices" class="col-md-6 col-lg-4 col-xl-3">
                <table>
                    <tr>
                        <td class="index">{{index}}:</td>
                        <td class="sign">{{cellSign(index)}}</td>
                        <td class="byte">{{cellByte(index, 0)}}</td>
                        <td class="byte">{{cellByte(index, 1)}}</td>
                        <td class="byte">{{cellByte(index, 2)}}</td>
                        <td class="byte">{{cellByte(index, 3)}}</td>
                        <td class="byte">{{cellByte(index, 4)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>