<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="list-group">
                <a *ngFor="let deviceNumber of deviceNumbers" href="javascript:void(0)" class="list-group-item"
                   [class.active]="selectedDevice === deviceNumber" (click)="selectedDevice = deviceNumber">
                    {{deviceDescription(deviceNumber)}}
                </a>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 col-xl-10">
            <block-io-device *ngIf="selectedDevice === 0" [deviceNum]="0"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 1" [deviceNum]="1"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 2" [deviceNum]="2"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 3" [deviceNum]="3"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 4" [deviceNum]="4"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 5" [deviceNum]="5"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 6" [deviceNum]="6"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 7" [deviceNum]="7"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 8" [deviceNum]="8"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 9" [deviceNum]="9"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 10" [deviceNum]="10"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 11" [deviceNum]="11"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 12" [deviceNum]="12"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 13" [deviceNum]="13"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 14" [deviceNum]="14"></block-io-device>
            <block-io-device *ngIf="selectedDevice === 15" [deviceNum]="15"></block-io-device>
            <line-input-device *ngIf="selectedDevice === 16" [deviceNum]="16"></line-input-device>
            <line-output-device *ngIf="selectedDevice === 17" [deviceNum]="17"></line-output-device>
            <line-output-device *ngIf="selectedDevice === 18" [deviceNum]="18"></line-output-device>
            <line-input-device *ngIf="selectedDevice === 20" [deviceNum]="20"></line-input-device>
        </div>
    </div>
</div>
