<div class="card">
    <div class="card-header">
        <div class="row">
            <div [ngClass]="{'col-sm-6': hasGoButton}">
                <div class="form-inline">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                          [title]="canUploadFile ? 'Upload device data' : 'In order to upload a file, please switch off the virtual machine'">
                        <button class="btn btn-sm btn-primary" (click)="startFileUpload()"
                                [disabled]="!canUploadFile"><i class="fas fa-upload"></i></button>
                    </span>
                    <input type="file" id="inputFile" (change)="uploadFile($event.target.files)">
                    <button class="btn btn-sm btn-primary" data-toggle="tooltip" title="Save device data"
                            (click)="downloadFile()"><i class="fas fa-download"></i></button>
                </div>
            </div>
            <div *ngIf="hasGoButton" class="col-sm-6">
                <div class="btn-group" role="group" aria-label="Virtual machine mode">
                    <button type="button" class="btn btn-sm" title="Binary mode"
                            [ngClass]="{'btn-success': mode === 'binary', 'btn-outline-secondary': mode !== 'binary'}"
                            (click)="mode = 'binary'">x<sub>2</sub>
                    </button>
                    <button type="button" class="btn btn-sm" title="Decimal mode"
                            [ngClass]="{'btn-success': mode === 'decimal', 'btn-outline-secondary': mode !== 'decimal'}"
                            (click)="mode = 'decimal'">x<sub>10</sub>
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="Tracking mode">
                    <button type="button" class="btn btn-sm" title="With tracking"
                            [ngClass]="{'btn-success': tracking, 'btn-outline-secondary': !tracking}"
                            (click)="tracking = true"><i class="fas fa-history"></i>
                    </button>
                    <button type="button" class="btn btn-sm" title="Without tracking"
                            [ngClass]="{'btn-success': !tracking, 'btn-outline-secondary': tracking}"
                            (click)="tracking = false"><i class="fas fa-long-arrow-alt-right"></i>
                    </button>
                </div>
                <button *ngIf="!isActive" class="btn btn-sm btn-primary" title="Go" (click)="go()"><i
                        class="fas fa-power-off"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div *ngFor="let line of lines" class="line">{{line}}</div>
    </div>
</div>
