div.memory-data {
    overflow-x: auto;
    height: 100%;
    font-family: monospace;
}

table {
    width: 220px;
    position: relative;
    left: calc(50% - 110px);
    font-size: 14px;
}

td.address {
    width: 49px;
    text-align: right;
    padding-right: 5px;
}

td.sign {
    width: 20px;
    text-align: right;
    border: 1px solid;
    padding: 4px;
}

td.byte {
    width: 30px;
    text-align: right;
    border: 1px solid;
    padding: 4px;
}
